*{
    margin:0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size:20px;
    color: white;
    background-color: white;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
} 

/* HEADER */

#header-nav{
    background-color: #999999;
    border-radius: 0;
    border: 0;
    width:100%;
}
li{
    text-align: center;
    background-color: white;
    border-bottom: 1px solid black;
    
}
button{
    width:44px;
    height: 34px;
}
.logo-txt{
    font-size: 2em;
    text-decoration:none;
    color:black;
}
.menu-title{
    font-size: 2em;
    color:black;
    text-align: center;
}
p{
    color:#333;
}
/* BODY */

/* .col-xs-12{
    display:block;

    margin:auto;
    padding: 30px;
} */
.menu{
    padding:50px;
}
.food-items{
    background-color: #999999;
    margin-bottom: 30px; 
}

.food-title{
    text-align: center;
}
.food-items p{
    text-align:justify;
    padding:2px;
    
}